{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - DefaultController{% endblock %}

{% block body %}
    <h1 class="text-center">I <i class="bi-heart link-danger"></i> Maxfields</h1>
    {% if app.user %}
        <div class="alert alert-success">
            <h4>Welcome {{ app.user.userIdentifier }}!</h4>
        </div>
        {% for maxfield in maxfields %}
            <div class="row maxfield-row">
                <div class="col-8">
                    <a href="{{ path('map_play', {'id': maxfield.id}) }}">{{ maxfield.name }}</a>
                </div>
                <div class="col-4">
                    <a href="{{ path('maxfield_edit', {'id': maxfield.id}) }}">Edit</a>
                </div>
            </div>
        {% else %}
            You don't have any maxfields yet <code>:(</code>
            <p>
                <a href="{{ path('map_create') }}" class="btn btn-success">Create a new Maxfield!</a>
            </p>
        {% endfor %}
    {% else %}
        <h4>
            Howdy stranger <code>=;)</code> Please <a href="{{ path('connect_google_start') }}">Log in!</a>
        </h4>
    {% endif %}
    <hr>
    <div class="text-center">

        <img loading="lazy" width="400"
             src="https://user-images.githubusercontent.com/33978/160682926-035ee5d8-a92c-41a2-bbce-b72e9acc1011.gif"
             alt="maxfield exaple movie">
    </div>
{% endblock %}
